<body style="margin-left:15em">
  <h1>Add a new photo</h1>

  <form action="/create_photo">
    <div class="">
      <label for="URL">
        Image URL
      </label>
      <input type="text" id="URL" name="the_source" placeholder="http://...">
      <div>
        <label for="caption">
          Caption
        </label>
        <input type="text" id="caption" name="the_caption" >
        <div class="">
          <button >Add a photo</button>
          <a href="http://localhost:3000/photos/">Back</a>
        </div>
      </div>
    </div>
  </form>
</body>
